body{
    margin: 0px;
    padding: 0px;
    font-family: arial;

}
h2{
    display: none;
}


img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    max-zoom: cover;
}


.container{
    height: 100vh;
    display: grid;

    grid-template-columns:  0.6fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "first second";
    
}
#header-top{
    grid-area: header-top;
    display: none;
 
}
#first{
    grid-area: first;
    text-align: center;
    box-shadow: inset -8px 0px  rgb(226, 218, 218);
}
.developpeur{
    margin-top: 3px;
    color: rgb(168, 161, 161);
    background-color: white;
    border-color: white;
}
img ~h1{
    font-size: 10px;
}
img ~p{
    display: block;
    height: 30px;
    width: 218px;
    padding-top: 10px;
    margin-top: -20px;
   background-color:  rgb(255, 255, 255);
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 229, 229);
}
img ~p:hover{
    background-color: rgb(246, 250, 250);
}
a{
    text-decoration: none;
    color: black;
}

i{
    display: none;
    width: 30px;
    height: 20px;
    background-color: rgb(221, 213, 213);
    color: rgb(119, 115, 115);
    margin-top: 15px;
    font-size: 20px;
}
.second{
    background-image: url("/asset/images/landscape.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    grid-area: second;
}
h1{
    font-size: 50px;
    margin-top: 180px;
    text-align: center;

}
.s{
    margin-left: 43%;
    color: rgb(168, 161, 161);
}
u{
    text-decoration: underline yellow;
}

h1 ~p{
    margin-top: -15px;
    margin-left: 350px;
    font-size: 20px;
    color: white;
}



@media (max-width: 900px) {
    h2{
        display: block;
    }
    .container{
        margin-top: -60px;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 3fr;
        grid-template-areas: "header-top" "second";
       
    }
    #header-top{
        display: block;

    }

     i{
        margin-left: 96%;
        display: block;
        color: black;
        font-size: 25px;
      }
    
    #first{
        display: none;

    }
    .second{
        width: 100%;
        height: 100%;
    }
    h1 ~p{
        margin-top: -15px;
        margin-left: 150px;
        font-size: 20px;
    }


}
